.issue-card {
  background-color: #1b1f24;
  border-radius: 0.5rem;
  border: 2px solid #30363d;
  box-shadow: 0 0.5rem 1rem rgba(51, 203, 154, 0.1);
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  color: #c9d1d9;
  width: 40rem;
  overflow-wrap: break-word;
}

p {
  margin: 0.3rem 0;
  font-size: 0.95rem;
  color: #c9d1d9;
}

.labels-container {
  margin: 0.5rem 0;
}

.label-name {
  border-radius: 0.25rem;
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.url-container {
  margin-top: 1rem;
}

.labels-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.labels-title {
  margin-right: 0.5rem;
  color: #c9d1d9;
}

h1 {
  font-size: 1.5rem;
  color: #33cb9a;
  margin-bottom: 1rem;
}

a {
   color: rgba(51, 203, 154, 0.8);
   text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgba(51, 203, 154, 1);
}

strong {
  color: #e9f1f9;
}
