<div>
  <h1>Commits</h1>

  <div class="action-container">
    <label for="authorFilter">Filtrar por Autor:</label>
    <input id="authorFilter" [(ngModel)]="selectedAuthor" (input)="filterCommitsByAuthor()" placeholder="Digite o nome do autor" />

    <button (click)="sortCommitsByDate()">Ordenar por Data</button>

    <button (click)="toggleContributors()">Mostrar/Ocultar Contribuidores</button>
  </div>

  <div *ngIf="showContributors" class="contributors-container">
    <h2>Contribuidores</h2>
    <ul class="contributors-list">
      <li *ngFor="let contributor of contributors" class="contributor-card">
        <span class="contributor-name">{{ contributor.name }}</span>
        <span class="contributor-count"> - {{ contributor.count }} commits</span>
      </li>
    </ul>
  </div>  

  <div class="commit-container">
    <div class="commit-card" *ngFor="let commit of filteredCommits">
      <h3>{{ commit.message }}</h3>
      <p><strong>SHA:</strong> {{ commit.sha }}</p>
      <p><strong>Autor:</strong> {{ commit.author.name }}</p>
      <p><strong>Data:</strong> {{ commit.date }}</p>
      <a class="commit-link" [href]="commit.url" target="_blank">Link</a>
    </div>
  </div>
</div>
